@model BtcAlarm.Models.ViewModels.LoginView

@{
    ViewBag.Title = "Sing in";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sing in</h2>

@using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <fieldset>
        <legend>Login information</legend>
        <div class="control-group">
            <label class="control-label" for="Email">Email</label>
            <div class="controls">
                @Html.TextBox("Email", Model.Email, new { @class = "input-xlarge" })
                @Html.ValidationMessage("Password")
            </div>

        </div>
        <div class="control-group">
            <label class="control-label" for="Password">Password</label>
            <div class="controls">
                @Html.Password("Password", Model.Password, new { @class = "input-xlarge" })
                @Html.ValidationMessage("Password")
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
    </fieldset>
}